table thead .theme {
  width: 17%;
}


table thead .category {
  width: 17%;
}
table thead .applicant {
  width: 17%;
}
table thead .worker {
  width: 17%;
}

table thead .state {
  width: 12%;
}

table thead .createDate {
  width: 10%;
}

table thead .completeDate {
  width: 10%;
}
